:root {
  --s1: 1rem;
  --fs-s: clamp(0.7rem, 0.7rem + 1cqw, 1rem);
  --fs-m: clamp(1rem, 1rem + 1cqw, 2rem);
  --fs-l: clamp(3rem, 3rem + 5cqw, 8rem);

    --baby-blue: #DCEFFB;
    --sky-blue: #A9D5E9;
    --powder-blue: #77BBDB;
    --dark-blue: #005EA9;
    --deep-blue: #00244F;
    --hot-pink: #FF69B4;

}

body{
  background-color: var(--deep-blue);
  color: var(--baby-blue);
  font-family: Helvetica, sans-serif;
  font-size: var(--fs-s);
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.number{
  font-size: var(--fs-l);
  font-weight: 700;
  font-family: Work Sans, sans-serif;
  color: var(--deep-blue);
}

p{
  margin: 0.5rem;
}

.second_step, .first_step_two , .second_number , .third_step , .third_number, .forth_step, .forth_number {
 display: none;
}

 .frige{
  display: none;
 }
@media (prefers-color-sheme: dark) {

.number{
  color: var(--deep-blue);
}

}



@media (prefers-color-scheme: light) {
  body{
    background-color: var(--sky-blue);
    color: var(--deep-blue);
  }

  .first_number{
    color: #8fc3dccd;
  }
  .first_step_two {
    display: block;
  }
  .first_step{
    display: none;
  }
}

@media (prefers-color-scheme: light) and (prefers-contrast: more) {

  .first_number{
    color: #659fba;
  }
  .first_step{
    display: none;
  }

  .first_step_two {
    display: none;
  }
  .second_step{
    display: block;
  }

  .frige{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 600px;
    width: clamp(200px, 200px + 20cqw, 1000px);
  }

  .bg_img_frige{
    position: absolute;
    top: 50%;
    left: 50%;  
    transform: translate(-50%, -50%);  
    height: 100%;
    z-index: -1;
  }

.frige_shelf_img{
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 20px;
}

.frige_shelf:nth-of-type(1){
  height: 60px;
  margin-top: 110px;
  margin-left: 1rem;
}

.frige_shelf:nth-of-type(2){
  height: 90px;
  margin-top: 88px;
  align-self: flex-end;
  margin-right: 1rem;;
}

.frige_shelf:nth-of-type(3){
height: 60px;
margin-top: 123px;
align-self: flex-end;
margin-right: 1rem;;
}

}



@container frige (max-width: 210px){
  
  .second_number{
    display: block;
    color: var(--deep-blue);
  }
  .frige_shelf:nth-of-type(1){
  background-color: rgb(158, 11, 118);
  }

  body{
    background-color: violet;
  }
}

/* @media (prefers-color-scheme: dark and max-width: 210px) 