:root {
  --s1: 1rem;

  --fs-m: clamp(1rem, 1rem + 1cqw, 2rem);
  --fs-l: clamp(.8rem, .8rem + 5cqwpng, 3rem);

    --baby-blue: #DCEFFB;
    --sky-blue: #A9D5E9;
    --powder-blue: #77BBDB;
    --dark-blue: #005EA9;
    --deep-blue: #00244F;
    --hot-pink: #FF69B4;

}

body{
  background-color: var(--deep-blue);
  color: var(--baby-blue);
  font-family: 'Courier New', Courier, monospace;
  font-size: var(--fs-s);
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.first_number{
  color: var(--deep-blue);
}

.second_step , .second_number , .third_step , .third_number, .forth_step, .forth_number {
 display: none;
}


.frige{
  background-image: url("../assets/frige.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: clamp(200px, 80vw, 90vw);
  container-type: inline-size;
  container-name: frige;
  padding: 10px;
  padding-bottom: 40px;
  padding-top: 30px;
}




.frige_shelf{
  height: 100px;
  
}

.frige_shelf:nth-of-type(1){
  background-color: rgb(158, 118, 118);
  width: 200px;
}

.frige_shelf:nth-of-type(2){
  background-color: rgb(203, 160, 104);
  width: 100px;
}

.frige_shelf:nth-of-type(3){
  background-color: rgb(169, 188, 124);
  width: 100px;
  align-self: flex-end;
}

.frige_shelf:nth-of-type(4){
  background-color: rgb(125, 106, 29);
  width: 100px;
  align-self: center
}

@media (prefers-color-scheme: light) {
  body{
    background-color: var(--sky-blue);
    color: var(--deep-blue);
  }

  .second_step{
    display: block;
  }

  .first_step{
    display: none;
  }
}

/* fix container */

@media (prefers-color-scheme: light) {
  body{
    background-color: var(--sky-blue);
    color: var(--deep-blue);
  }

  .second_step{
    display: block;
  }
}

/* fix container */

@container frige (max-width: 210px){
  
  .second_number{
    display: block;
    color: var(--deep-blue);
  }
  .frige_shelf:nth-of-type(1){
  background-color: rgb(158, 11, 118);
  }

  body{
    background-color: violet;
  }
}

